.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__email {
  margin-bottom: 15px;

  font-size: 20px;
  transition: 0.5s;

  &:focus,
  &:hover {
    color: #202022;
    text-decoration: underline;
  }
}

.footer__github-icon {
  width: 32px;
  height: 32px;
  fill: #274b69;
  transition: 0.5s;

  &:focus,
  &:hover {
    fill: #202022;
  }
}

.footer__github-icon path {
  fill: inherit;
}